html{
  font-size: 20px; /* 字體大小 */
  font-family: 'Noto Sans TC', sans-serif; /*字型*/
  background-color: rgb(143, 184, 218); /*背景顏色*/
}
h1{
  font-size: 65px;
  text-align: center; /*水平對齊置中*/
  margin: 10 auto; /*外距*/
  padding: 30px 0; /*內距*/
  color:rgb(11, 37, 59);
  font-weight:bold;/*粗體*/
  letter-spacing: 7px;
  }
body{
  border:10px; /*邊框*/
  margin: 0 auto; /*物件左右置中*/
  background-color: rgb(143, 184, 218);
  /*background-image: linear-gradient(rgba(37, 157, 255, 0.568), rgba(253, 253, 127, 0.5));*/
  background-image:url("https://hypic.huitu.com/pic135/pic/20191222/2305784_20191222121627191020_0.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  padding: 10PX 20px 20px 20px;
  line-height: 5px; /*字元高度*/
    
}
p{
  font-size: 25px;
  letter-spacing: 1px; /*字元間距*/
  color: rgb(12,112,144);
}


/*#getdata{background:rgb(152, 232, 247); font-size: 25px;}*/
#update{background:rgb(143, 184, 218); font-size: 25px; border-radius: 10px;}

#home{background:rgb(143, 184, 218); font-size: 23px; border-radius: 10px;}
#control{background:rgb(143, 184, 218); font-size: 23px; border-radius: 10px; }
#nowdata{background:rgb(143, 184, 218); font-size: 23px; border-radius: 10px; }
#histdata{background:rgb(143, 184, 218); font-size: 23px; border-radius: 10px; }
#home:active,#control:active,#nowdata:active,#histdata:active{ 
  background: rgb(177, 220, 255); 
  color: #000; 
}
#aa{
  padding: 10px 200px;
  width:500px;
  background-color: rgba(255, 255, 255, 0.438);
  margin: 0 auto;
}
#bb{
  width:260px;
  padding: 0 200px;
  display: inline-block;
}
#cc{
  float:right;/*並排*/
  padding: 0px 185px 0px 0px;
}
#Pageswitching{
  height: 50px;
  margin: 0 auto;
}
h2{
  font-size: 30px;
  text-align: center; /*文字置中*/
  margin: 30px auto; /*外距*/
  padding: 20px 0; /*內距*/
  color: #100055;
  background-color: rgba(255, 255, 255, 0.5);
  width: 400px;
  }
h3{
  font-size: 26px;
  color: #a80d02;
  line-height: 1px;
  padding: 20px 0;
  letter-spacing: 1px;
}
h4{
  font-size: 26px;
  color: #0e32a7;
  line-height: 40px;
  padding: 20px 0;
  letter-spacing: 1px;
}

/*******************************************************************/
.onoffswitch {
  position: relative; width: 66px;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 26px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 9px;
  background-color: #2DE02D; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 9px;
  background-color: #971025e7; color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 17px; margin: 6.5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 32px;
  border: 2px solid #999999; border-radius: 26px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}
/***************************************************************************/
.onoffswitch2 {
  position: relative; width: 66px;
}
.onoffswitch-checkbox2 {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label2 {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 26px;
}
.onoffswitch-inner2 {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner2:before, .onoffswitch-inner2:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner2:before {
  content: "ON";
  padding-left: 9px;
  background-color: #2DE02D; color: #FFFFFF;
}
.onoffswitch-inner2:after {
  content: "OFF";
  padding-right: 9px;
  background-color: #971025e7; color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch2 {
  display: block; width: 17px; margin: 6.5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 32px;
  border: 2px solid #999999; border-radius: 26px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-inner2 {
  margin-left: 0;
}
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-switch2 {
  right: 0px; 
}