html{
    font-size: 20px; /* 字體大小 */
    font-family: 'Noto Sans TC', sans-serif; /*字型*/
    background-color: #284985; /*背景顏色*/
  }
h1{
    font-size: 65px;
    text-align: center; /*水平對齊置中*/
    margin: 10 auto; /*外距*/
    padding: 20px 0; /*內距*/
    color: #3a0a03;
  }
body {
    border:10px; /*邊框*/
    width: 1000px;
    margin: 0 auto; /*物件左右置中*/
    background-color: #e4f0b3; 
    padding: 10PX 20px 20px 20px;
    line-height: 5px;
    
}
p{
    font-size: 25px;
    letter-spacing: 1px; /*字元間距*/
    color: rgb(33, 3, 139);
}
.plantwall{
  display: block; /*設定為區塊*/
  margin: 0 auto; 
  border:6px rgb(2, 46, 5) solid
}

#getdata{background:rgb(152, 232, 247); font-size: 20px;}
#update{background:rgb(108, 252, 127); font-size: 20px;}

#home{background:rgb(255, 192, 110); font-size: 20px;}
#control{background:rgb(255, 192, 110); font-size: 20px;}
#nowdata{background:rgb(255, 192, 110); font-size: 20px;}
#histdata{background:rgb(255, 192, 110); font-size: 20px;}

#Pageswitching{
  height: 50px; 
  margin: 0 auto;
}
h2{
  font-size: 30px;
  text-align: center; /*文字置中*/
  margin: 10 auto; /*外距*/
  padding: 20px 0; /*內距*/
  color: #100055;
  }
#waterlevel{background:rgb(152, 232, 247);width: 950px;height: 20px;}
#moisturehumidity{background:rgb(196, 7, 29);width: 950px;height: 20px;}  
